@import "scss/fonts";

body {
  color:green;
  & test {
    color:red;
  } & foo {
  text-align: center;
      }
}


.catalog {
  background-color: red;
  & .podcatalog {
    color:rebeccapurple;
  }

}
