@import "scss/fonts";

// Обычный 

@font-face { 
  font-family: 'RubikRegular';
  src: url('../../src/fonts/Rubik-Regular.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face { 
  font-family: 'RubikMedium';
  src: url('../../src/fonts/Rubik-Medium.ttf');
  font-weight: 500;
}

@font-face { 
  font-family: 'RubikBold';
  src: url('../../src/fonts/Rubik-Bold.ttf');
  font-weight: 700;
}

*{
  font-family: "RubikRegular";
}

$bgCol: #FF182F;
$btnBgCol0ne: #22339E;
$btnBgColTwo: #000978;

html {
  overflow-x: hidden;
}

header {
  background-color: $bgCol;

  .header{
    position: relative;
    height: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    max-width: 1170px;
    .logo {
      height: 70px;
      width: 370px;
      margin-left: 14px;
    }
  
    .button-take {
      width: 270px;
      height: 70px;
      background: linear-gradient(0deg, rgba(0, 9, 120, 1) 0%, rgba(34, 51, 158, 1) 100%);
      color: white;
      font-size: 28px;
      text-transform: uppercase;
      border: none;
      border-radius: 7px;
      font-weight: bold;
      margin-right: -46px;
      letter-spacing: 1px;
    }
  }
}

// MAIN SECTION

main {
  height: 730px;
  display: flex;
  background: url("../../src/img/bg-main.png");
  background-size: cover !important;

  .loan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__item{
      margin-bottom: 60px;
      &-down{
        margin-top: 8px;
      }
    }
    .option-money {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 350px;
      width: 60%;
      margin: 490px auto 30px auto;
      padding-left: 90px;
    }
  }

  .condition-sliders {

    // .condition-sliders__text

    &__text {
      margin-left: -20px;
      text-align: left;
      transform: translateY(-15px);
      font-size: 28px;
      color: $btnBgCol0ne;
    }

    // .condition-sliders__value

    &__value {
      text-align: right;
      margin-left: 10px;
      transform: translateY(-15px);
      text-transform: uppercase;
      font-size: 28px;
      font-family: 'RubikBold';
      color: $bgCol;
    }

    // .condition-sliders__button-minus

    &__button-minus {
      display: flex;
      justify-content: center;
      padding-top: 32px;
      width: 70px;
      height: 70px;
      border: none;
      border-radius: 50%;
      background-color: $btnBgColTwo;
      color: white;
      line-height: 1px;
      font-size: 100px;

      &:focus {
        outline: none;
      }
    }

    // .condition-sliders__input

    &__input {
      -webkit-appearance: none;
      margin-top: 30px;
      margin-left: 30px;
      margin-right: 30px;
      width: 63%;
      height: 15px;
      padding: 0px;
      background: linear-gradient(90deg, $btnBgColTwo 1%, $bgCol 100%);
      border-radius: 15px;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        padding: 9px;
        width: 55px;
        height: 55px;
        background-image: url("../../src/img/scroll.png");
        background-size: cover;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }

    // .condition-sliders__button-plus

    &__button-plus {
      display: flex;
      justify-content: center;
      padding-top: 34px;
      width: 70px;
      height: 70px;
      border: none;
      border-radius: 50%;
      background-color: $bgCol;
      color: white;
      line-height: 1px;
      font-size: 70px;

      &:focus {
        outline: none;
      }
    }
  }

  .calculations {
    display: flex;
    justify-content: start;
    flex-direction: column;
    line-height: 34px;
    &__text {
      font-size: 24px;
      color: $btnBgColTwo;
      margin: 0;
      padding: 0;
      padding-left: 148px;
      padding-top: 17px;
      letter-spacing: 1px;
      &-data{
        padding-top: 0px;
      }
      strong{
        font-family: 'RubikBold';
      }
    }

    // .calculations__button-take-money
    &__button-take-money {
      width: 568px;
      height: 70px;
      margin: 30px auto 0px 140px;
      border: none;
      border-radius: 10px;
      background: $bgCol;
      color: white;
      font-size: 28px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

// SECTION FEATURES

.advantages {
  background-color: #E5E9F4;
  padding-bottom: 90px;
  .container{
    .features {
      display: flex;
      padding-top: 100px;
      // .features__item
      &__img{
        &-small{
          padding-top: 18px;
        }
      }
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
        padding-left: 18px;
        &-second {
          padding-left: 0px;
          margin-left: 30px;
        }
        &-third{
          padding-left: 0px;
          margin-left: 20px;
        }
        img {
          margin-bottom: 40px;
        }
    
        span {
          color: #2431A5;
          font-size: 23px;
          line-height: 30px;
          padding-top: 3px;
        }
      }
    }
  }
}




// SECTION ABOUT

.about {
  position: relative;
  margin-bottom: 100px;
  margin-left: 30px;
  max-height: 525px;
  // .about__arrow

  &__marks {
    &-up {
      position: absolute;
      width: 70px;
      height: 40px;
      background: url("../../src/img/about/marks.png");
      background-size: cover;
      top: -12%;
      left: -5%;
      z-index: 100;
    }

    &-down {
      position: absolute;
      width: 70px;
      height: 40px;
      background: url("../../src/img/about/marks.png");
      background-size: cover;
      transform: rotate(180deg);
      top: 66%;
      left: 69%;
      z-index: 100;
    }
  }

  // .about__arrow-prev

  // &__arrow-prev {
  //   position: absolute;
  //   top: 65%;
  //   left: -2%;
  //   transform: translateY(-50%) rotate(180deg);
  //   background: url("../../src/img/about/arrow.png") center center no-repeat;
  //   background-size: cover;
  //   width: 38px;
  //   height: 70px;
  // }

  // // .about__arrow-next

  // &__arrow-next {
  //   position: absolute;
  //   top: 65%;
  //   right: 20%;
  //   transform: translateY(-50%);
  //   background: url("../../src/img/about/arrow.png") center center no-repeat;
  //   background-size: cover;
  //   width: 37px;
  //   height: 70px;
  // }

  // .about__header

  &__header {
    width: 100%;
    margin-top: 60px;
    font-size: 40px;
    font-family: 'RubikBold';
    text-align: center;
    text-transform: uppercase;
    color: $btnBgColTwo;

    h2 {
      margin-left: 30px;
      margin-top: 90px;
      font-size: 40px;
      font-family: 'RubikBold';
    }
  }

}

.carousel {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: 50px;

  &__text{

    strong{
      letter-spacing: 0px;
      font-family: 'RubikBold';
      text-transform: uppercase;
    }
  }

  // .carousel__item

  &__item {
    position: relative;
    display: flex !important;
    justify-content: center;
    width: 600px;
    min-height: 420px !important;
    margin-left: 10px;
    margin-top: 75px;
    padding-top: 20px;
    &:nth-child(3){
      margin-right: -25px;
    }
    &:nth-child(4){
      margin-left: -17px;
    }
    div {
      margin-top: -4px;
    }

    img {
      width: 120px;
      height: 120px;
      min-width: 120px;
      min-height: 120px;
      margin-right: 50px;
      margin-top: 10px;
    }

    p {
      letter-spacing: 1.4px;
      font-size: 23px;
      color: $bgCol;
      width: 80%;
    }

    span {
      display: inline-block;
      width: 80%;
      font-size: 21px;
      font-style: italic;
      color: $btnBgColTwo;
      margin-top: -3px;
      line-height: 25px;
      letter-spacing: -0.4px;
    }
  }
}


// SECTION COMPANY 

.company {
  margin-top: -80px;
  padding-bottom: 50px;
  background: url("../../src/img/company/bg.png");
  background-size: cover !important;
  // .company__features

  &__features {
    width: 100%;
  }

  &__header {
    padding-top: 86px;
    padding-left: 5px;
    margin-bottom: 40px;
    margin-left: 50px;
    font-weight: bolder;
    color: $bgCol;
    font-size: 39px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'RubikBold';
    letter-spacing: 0.7px;
  }

  .wrap {
    display: flex;
    flex-wrap: wrap;

    // .wrap__item
    &__item {
      position: relative;
      display: flex;
      max-height: 255px;
      margin-bottom: 23px;
      &:nth-child(even){
        padding-left: 46px;
        &::before{
          left: 61%;
        }
      }
      &:nth-child(3){
        .card-company{
          &__text{
            margin-left: 65px;
            margin-bottom: 21px;
            &-lorem{
              width: 100%;
            }
            &-check{
              top: -43%;
            }
          }
        }
       img{
        padding-left: 33px !important;
       }
      }
      &:nth-child(4){
        .card-company{
          &__text{
            &-lorem{
              width: 122%;
            }
            &-check{
            }
          }
        }
      }
      &:nth-child(5){
        margin-top: -4px;
        .card-company{
          &__text{
            &-lorem{
              width: 105%;
              margin-left: 7px;
            }
            &-check{
              left: 7%;
              top: -37%;
            }
          }
        }
      }
      &:nth-child(6){
        .card-company{
          &__text{
            &-check{
              top: -40%;
            }
            &-lorem{
              width: 122%;
              margin-left: -2px;
              margin-top: -5px;
            }
          }
        }
      }
      &::before {
        content: '';
        position: absolute;
        width: 270px;
        height: 5px;
        top: 11%;
        left: 55%;
        border-radius: 10px;
        background-color: $bgCol;

      }

      .image {
        img{
          padding-top: 7px;
          padding-left: 10px;
        }
      }

      &-long {
        margin-top: -10px;
        padding: 5px 216px;
        .card-company__text-lorem{
          width: 100%;
          letter-spacing: 0.6px;
          padding-top: 2px;
          strong{
            font-family: 'RubikBold';
          }
        }
        .card-company__text-check {
          top: -44%;
          left: 4%;
        }     
        &::before {
          content: '';
          position: absolute;
          width: 470px;
          height: 5px;
          top: 15%;
          left: 45%;
          border-radius: 10px;
          background-color: $bgCol;

        }
      }
    }

    // .wrap__item-long
  }

  .card-company {

    // .card-company__text

    &__text {
      position: relative;
      margin-top: 74px;
      margin-left: 40px;
      font-size: 22px;
      line-height: 29px;
      color: $btnBgCol0ne;
      &-lorem{
        width: 125%;
    letter-spacing: 0.5px;
      }
    }

    // .card-company__text-check

    &__text-check {
      display: inline-block;
      position: absolute;
      top: -36%;
      left: 6%;
      width: 30px;
      height: 30px;
      background: url('../../src/img/company/icons/check.png');
      background-size: cover;
      // background-color: red;
    }

    // .card-company__text-lorem

    &__text-red {
      color: $bgCol;
    }
  }
}

// SECTION FOOTER

.footer {
  padding-top: 50px;
  background-color: $bgCol;
  color: white;
  font-size: 20px;
    span{
      padding-left: 15px;
      margin-top: -12px;
      letter-spacing: 0.4px;
  }
  &__img{
    &-logo{
      padding-top: 10px;
      padding-left: 17px;
      max-width: 288px;
    }
  }

  // .footer__item
  .call {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    padding: 0;
    padding-left: 40px;
    margin-top: -4px;
    img {
      margin-top: 15px;
    }
  }

  &__item {
    min-height: 150px;
  }

  img {
    margin-bottom: 100px;
  }

  span {
    display: block;
  }

  // .footer__item-list

  &__item-list {}

  .text {
    // .text__number

    &__number {
      margin: 0;
      padding: 0;
      padding-left: 15px;
      font-family: 'RubikBold';
      font-size: 34px;
      color: $btnBgColTwo;
    }

    // .text__lorem

    &__lorem {
      margin-top: -6px;
      padding-left: 40px;
      letter-spacing: 0.3px;
      font-size: 16px;
    }
  }

  .list {
    margin-left: 90px;
    padding-top: 8px;
    line-height: 22px;
    list-style-type: none;
    color: white;

    // .list__item

    &__item {
      margin-bottom: 20px;
      font-size: 18px;

      a {
        color: white;
        text-decoration: none;
      }
    }

    // .list__item-blue

    &__item-blue {
      a {
        color: $btnBgColTwo;
      }
    }
  }
}


// ADAPTIVE

// TABLET


@media(max-width:1024px) and (min-width:901px) {
  header {
    position: relative;
    .header {
      .logo {
        position: absolute;
        top: 50%;
        left: 14%;
        transform: translateY(-50%);
        height: 50px;
        width: auto;
      }

      .button-take {
        position: absolute;
        top: 50%;
        right: 14%;
        transform: translateY(-50%);
        min-width: 300px;
        font-size: 23px;
      }
    }
  }

  .loan {
      margin-top: 220px;
    &__item {
    }
    .option-money {
      width: 70%;
      margin: auto !important;
      padding-left: 0px !important;
    }
  }
  .calculations {
    margin: auto;
    &__text{
      margin-left: 40px !important;
    }
    // .calculations__button-take-money

    &__button-take-money {
      margin: 40px auto !important;
      width: 80% !important;
    }
  }


  .advantages {
  .features {
    padding-top: 0;
    flex-direction: column;
      // .features__item
      &__item {
        margin: 30px auto !important;
        max-width: 60%;
        img{
          min-height: 200px;
        }
        span {
          font-size: 22px !important;
        }
      }
  }

}

.carousel {
  margin-left: 0px;
  p{
    font-size: 20px;
  }
		&__item {
      span{
        font-size: 18px;
      }
      img{
        width: 80px;
        height: 80px;
        min-width: 80px;
        min-height: 80px;
        margin-right: 10px;
      }
    }
    .prev{
      left: 0%;
    }
    .next{
      right: -5%;
    }
}

.about{
  &__header{
    margin-left: 0px;
  }
}

.company {
  &__header{
    margin-left: 0;
    padding-left: 0;
  }
  .card-company{
    &__text{
      font-size: 19px;
      margin-top: 30px;
      margin-left: 15px;
      &-check{
        top: -15%;
        left: -5%;
        &:nth-child(1){
          top: -20%;
          left: 3%;
        }
      }
      &-lorem{
        width: 100% !important;
      }
    }
  }

  .wrap {

    // .wrap__item
    &__item {
      &:nth-child(even){
        padding-left: 0px;
      }
      &:nth-child(5){
        .card-company__text-check{
          top: -27%;
        }
      }
      &:nth-child(6){
        .card-company__text-check{
          top: -27%;
        }
      }
      &:nth-child(7){
        &::before{
          top: 12%;
          left: 46% !important;
          width: 300px;
        }
      }
      &::before{
        top: 6%;
        left: 50% !important;
        width: 225px;
      }
      &:nth-child(3){
        .card-company__text{
          &-lorem{
            width: 125% !important;
            margin-left: -10%;
          }
          &-check{
            top: -28%;
            left: -5%;
          }
        }
      }
    }

    &__item-long {
      &::before{
        top: 15%;
        left: 30%;
        width: 350px;
      }
    }
  }
}

.footer {
  img {
    max-width: 220px;
  }
  
  .text {
    // .text__number
    &__number {
      font-size: 20px;
    }
  
    // .text__lorem
  
    &__lorem {
      font-size: 14px;
    }
}

.list{
  line-height: 20px;
  margin: 0;
}
}
}


@media(max-width:900px) and (min-width:427px){


  header {
    position: relative;
    .header {
      .logo {
        position: absolute;
        top: 50%;
        left: 8%;
        transform: translateY(-50%);
        height: 50px;
        width: auto;
      }

      .button-take {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        min-width: 300px;
        font-size: 23px;
      }
    }
  }


  main {


    .condition-sliders{
      .row{
        margin: auto;
      }
      &__input{
        width: 50%;
      }
      &__button{
        &-minus{
          width: 60px;
          height: 60px;
          padding-top: 17px;
          transform: scale(0.9);
        }
        &-plus{
          width: 60px;
          height: 60px;
          padding-top: 23px;
          transform: scale(0.9);
        }
      }
      &__text{
        transform: translateY(-15px);
        font-size: 22px;
      }
      &__value{
        transform: translateY(-15px);
        font-size: 24px;
      }
    }

    .loan {
      margin-top: 220px;
    &__item {
    }
    .option-money {
      width: 70%;
      margin: auto !important;
      padding-left: 0px !important;
    }
  }
  .calculations {
    margin: auto;
    &__text{
      margin-left: 40px !important;
    }
    // .calculations__button-take-money

    &__button-take-money {
      margin: 40px auto !important;
      width: 80% !important;
    }
  }
  }

  .advantages {
    .features {
      padding: 0;
      flex-direction: column;
        // .features__item
        &__item {
          margin: 20px auto;
          max-width: 80%;
}
          img{
            height: 125px;
          }
          span {
            font-size: 18px !important;
          }
        }
    }
  

    .about{
      &__header{
        h2{
          font-size: 34px;
        }
      }
      &__slider{
        margin: auto;
        text-align: center;
      }
      .carousel{
        &__item{
          display: flex !important;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 0px;
          margin: 30px 0px;
          img{
            margin: 10px 0;
          }
          p{
            width: 100%;
          }
          div{
            margin: 0;
          }
        }

      }  
      &__marks-up{
        left: 0%;
        top: 0%;
      }
      &__marks-down{
        top: 95%;
      }
    }

    .company{
      .wrap{
        display: flex;
        flex-direction: column;
        &__item{
          max-width: 100%;
          width: 100%;
          margin: auto;
          .image{
            height: 100px;
            margin-top: 75px;
          }
          &::before{
            width: 380px;
            top: 25%;
            left: 30%;
          }
          &-long{
            width: auto;
            &::before{
              width: 380px;
              height: 5px;
              top: 25%;
              left: 30%;
            }
            .card-company__text-lorem{
              width: 100% !important;
            }
          }
        }
      }
      .card-company{
        &__text{
          margin-left: 5px;
          &-check{
            top:-20%;
          }
        }
      }
    }

    .footer{
      text-align: center;
      &__item{
        min-height: 100px;
      }
      .list{
        margin: 0 !important;
        padding: 0;
        text-align: center;
        line-height: normal;
      }
      img{
        margin-bottom: 10px;
      }
    }
    .prev{
      left: -4% !important;
    }
    .next{
      right: -4% !important;
    }
}


@media(max-width:426px){


  header {
    position: relative;
    height: 200px;
    .header {
      .logo {
        position: absolute;
        top: 14%;
        left: 50%;
        transform: translateX(-50%);
        min-width: 300px;
        height: 55px;
        width: auto;
      }

      .button-take {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        min-width: 280px;
        height: 60px;
        font-size: 30px;
      }
    }
  }


  main {
    height: auto;

    .condition-sliders{
      .row{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__input{
        width: 60%;
        height: 10px;
        margin: auto;
        padding: 0;
        &::-webkit-slider-thumb {
          width: 35px;
          height: 35px;
        }
      }
      &__button{
        &-minus{
          width: 40px;
          height: 40px;
          padding-top: 7px;
          transform: scale(0.9);
        }
        &-plus{
          width: 40px;
          height: 40px;
          padding-top: 12px;
          font-size: 52px;
          transform: scale(0.9);
        }
      }
      &__text{
        padding: 0;
        transform: translateY(-15px);
        font-size: 16px;
        margin-left: 0px;
      }
      &__value{
        padding: 0;
        margin: 0;
        transform: translateY(-15px);
        font-size: 20px;
      }
    }

  .loan {
    width: 85%;
    margin-top: 0px;
      // .loan__item
    &__item {
      margin-bottom: 30px;
      padding: 0;
    }
    .option-money {
      width: auto;
      height: auto;
      margin: 50px auto 0px auto;
      padding: 0px 20px;
    }
  }
  .calculations {
    margin: 40px auto;
    &__text{
      font-size: 16px;

      margin-left: 0px !important;
    }
    // .calculations__button-take-money

    &__button-take-money {
      margin: 17px auto !important;
      width: 100% !important;
      height: 48px;
    }
  }
  }

  .advantages {
    padding-bottom: 0px;
    .features {
      padding: 50px 0px 65px 0px;
      flex-direction: column;
        // .features__item
        &__item {
          margin: 20px auto;
          max-width: 80%;
}
          img{
            height: 110px;
            margin-bottom: 25px;
          }
          span {
            font-size: 22px !important;
            line-height: 27px;
          }
        }
    }
  

    .about{
      margin-bottom: 123px;
      &__marks{
        &-up{
          top: -5%;
          left: 8%;
        }
        &-down{
          top: 90%;
          left: 69%;
        }
      }
      &__header{
        margin-top: 50px !important;
        h2{
          width: 50%;
          margin: auto;
          font-size: 36px;
        }
      }
      &__slider{
        margin: auto;
      }
      .carousel{
        &__item{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 50px 20px 70px 20px;
          text-align: center;
          div{
            margin-top: 0px;
          }
          img{
            margin: auto;
            margin-bottom: 20px;
          }
          p{
            margin: auto;
            font-size: 28px;
          }
          span{
            font-size: 20px;
          }
        }
      }  
    }



    .company{
      margin-top: 0px;
      &__header{
        margin: auto;
        padding: 46px 0px 38px 0px;
      }
      .wrap{
        display: flex;
        flex-direction: column;
        &__item{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-bottom: 20px;
          text-align: center;
          padding: 0px;
          margin: 0px;
          .image{
            height: 100px;
            margin-top: 0px;
          }
          &::before{
            display: none;
          }
          &-long{
            width: auto;
            &::before{
              display: none;
            }
          }
        }
      }
      .card-company{
        &__text{
          width: 72%;
          font-size: 20px;
          margin-left: 0px;
          &-check{
            top:-35%;
            left: 45%;
          }
        }
      }
    }

    .footer{
      text-align: center;
      &__item{
        min-height: 100px;
      }
      img{
        width: 80%;
        margin-bottom: 10px;
      }
      .list{
        margin: 0 !important;
        padding: 0;
        text-align: center;
        line-height: normal;
      }
      .call{
        img{
          width: 15%;
        }
      }
      .text{
        &__number{
          font-size: 28px;
        }
      }
    }

    .next{
      width: 20px !important;
      top: 110% !important;
      right: 30% !important;
      width: auto !important;
      height: auto !important;
    }
    .prev{
      width: 20px !important;
      top: 110% !important;
      left: 30% !important;
      width: auto !important;
      height: auto !important;
    }

}


// ARRROWS 
/* Arrows */
.prev {
  content: '';
  position: absolute;
  top: 21%;
  left: -4%;
  transform: translateY(-50%) rotate(180deg);
  background: url("../../src/img/about/arrow.png") center center no-repeat;
  background-size: cover;
  width: 25px;
  height: 50px; 
  border: none;
}
.next
{
  position: absolute;
  top: 21%;
  right: -3%;
  transform: translateY(-50%);
  background: url("../../src/img/about/arrow.png") center center no-repeat;
  background-size: cover;
  width: 25px;
  height: 50px; 
  border: none;
}


.container{
  max-width: 1170px !important;
}